{% extends 'layouts/base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="d-flex">
        <div class="d-flex flex-column bg-alabaster rounded-3 mx-auto p-3">
            <div class="h3">Register</div>

            <form method="post" action="">
                {% for field in form %}
                    <div class="pb-2">
                        {{ field.errors }}
                        <label for="" class="form-label pe-2">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="d-flex justify-content-center mt-3">
                    <input class="btn bg-green4 text-white" type="submit" value="Register">
                </div>
            </form>
        </div>Z
    </div>

    {#    {% for message in messages %}#}
    {#        <p>{{ message }}</p>#}
    {#    {% endfor %}#}


{% endblock %}