{% extends 'layouts/base/base.html' %}
{% block title %}Login - Old School Bingo{% endblock %}
{% block description %}Registration Confirmation{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="d-flex flex-column bg-primary-2 rounded-3 mx-auto p-3 py-4">
            <h3>Check your inbox!</h3>
            <p class="pb-5">You will receive an email containing a reset link. You can follow it to set a new password
                .</p>

            <p>If you have any questions or need assistance you can ask on <a href="https://discord.gg/fpKeEWMHjE">Discord</a>.
            </p>
        </div>
    </div>
{% endblock %}