{% extends 'layouts/base/base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="d-flex">
        <div class="d-flex flex-column bg-primary-2 rounded-3 mx-auto p-3">
            <div class="h3 mb-2">Reset password</div>

            <form method="post" action="" class="mb-3">
                {% csrf_token %}
                {% include 'layouts/innertemplates/formerrors.html' %}
                {% for field in form %}
                    <div class="">
                        {% include 'layouts/innertemplates/field.html' %}
                    </div>
                {% endfor %}


                <div class="d-flex justify-content-center mt-3 gap-3">
                    <input class="btn-default rounded-3" type="submit" value="Change password">
                </div>
            </form>
        </div>
    </div>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}


{% endblock %}

{% block js %}
    <script>
        {#Set the page title#}
        document.querySelector('title').innerText = `Reset Password - Old School Bingo`
    </script>
{% endblock %}