
.tile {
    width: var(--width_perc) !important;
    flex: 0 0 auto;
    aspect-ratio: 1/.69;
    min-width: 100px;
    /*align-self: center!important;*/
    padding: .3rem !important;
    /*max-height: 15%;*/
    min-width: 150px;
    min-height: 150px;
}

.html-body {
    overflow-x: hidden;
}

.bingo-card-text {
    max-height: 100px;
    overflow: hidden;
}

.bg-opacity-6 {
    --bs-bg-opacity: .6;
}

.custom-logo {
    position: absolute;
    left: 50%;
    transform: translate(-r50%, 0);
}