asgiref==3.6.0
awsebcli==3.20.8
backports.zoneinfo==0.2.1
botocore==1.31.26
cement==2.8.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.3
Django==4.1.7
idna==3.4
jmespath==1.0.1
pathspec==0.10.1
Pillow==9.4.0
pypiwin32==223
python-dateutil==2.8.2
pywin32==306
PyYAML==6.0.1
requests==2.31.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.3
termcolor==1.1.0
tzdata==2022.7
urllib3==1.26.16
wcwidth==0.1.9
