{% extends 'layouts/base/base.html' %}
{% block title %}Create Bingo - Old School Bingo{% endblock %}
{% block description %}Create your dream bingo.{% endblock %}

{% block content %}
    <div class="bg-primary-2 rounded-3 p-2 mb-5">
        <h1>Checkout Summary</h1>

        <p>Price is {{ bingo.price }}</p>
    </div>
    {##}
    {#    {% for message in messages %}#}
    {#        <p>{{ message }}</p>#}
    {#    {% endfor %}#}


{% endblock %}

{% block js %}
    <script>
        {#Localize the timezone#}
        document.querySelector('#id_start_date').min = get_formatted_date(new Date())
        document.querySelector('#id_end_date').min = get_formatted_date(new Date())

        {#Change dates back to UTC#}
        function back_to_utc(){
            let end_date = (new Date(document.querySelector('#id_end_date').value))
            document.querySelector('#id_end_date').value = end_date.toISOString().slice(0, 16)
            let start_date = (new Date(document.querySelector('#id_start_date').value))
            document.querySelector('#id_start_date').value = start_date.toISOString().slice(0, 16)
        }
    </script>
{% endblock %}