{% extends 'layouts/base/base.html' %}
{% load static %}
{% load bingo_extras %}
{% block title %}Old School Bingo{% endblock %}
{% block description %}Run a bingo not a discord brothel with Old School Bingo. Make an engaging bingo with very little effort because we're here.{% endblock %}

{% block content %}
    <div class="">
        <div class="d-flex flex-column border border-3 border-secondary-1 align-items-center rounded-top-pill p-3 pb-0">
            <h1 class="underline-accent fw-bold p-3 mb-5">Bingo in one place</h1>
            <div class="">
                <div class="d-none d-lg-flex absolute-center-lg">
                    <div class="fs-4 btn-homepage rounded-start-lg-3 pb-3 p-2 px-5">
                        <a href="#bingo_id" class="color-secondary-1 text-decoration-none">Hosting</a>
                    </div>
                    <div class="fs-4 btn-homepage pb-3 p-2 px-5">
                        <a href="#leaderboard_id" class="color-secondary-1 text-decoration-none">Leaderboard</a>
                    </div>
                    <div class="fs-4 btn-homepage pb-3 p-2 px-5">
                        <a href="#wom_id" class="color-secondary-1 text-decoration-none">WiseOldMan</a>
                    </div>
                    <div class="fs-4 btn-homepage rounded-end-lg-3 pb-3 p-2 px-5"><a
                            href="#tile_id" class="color-secondary-1 text-decoration-none">Tiles</a>
                    </div>
                </div>
            </div>
        </div>


        <div id="bingo_id" class="d-flex flex-wrap border-accent py-5 justify-content-around">
            <a href="{% url 'bingo:create_bingo' %}" style="min-width: 175px"
               class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4 rounded-3">Create
                bingo</a>
            <a href="{% url 'common:main' %}" style="min-width: 175px"
               class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4 rounded-3">Play now</a>
            <a href="#" style="min-width: 175px"
               class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4 rounded-3">FAQ(soon)
            </a>

        </div>

        <div class="d-flex flex-column flex-md-row border border-3 rounded-3 mb-5">
            <div class="d-flex flex-column flex-fill rounded-3 p-3 ps-5 me-0 me-md-3 mb-3 mb-md-0">
                <h2 class="fw-bold mb-3">Hosting</h2>
                <div class="d-flex flex-column flex-grow-1 justify-content-between">
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Edit details of bingo</div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Customize every tile</div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Get notified on <span
                            class="color-accent">discord</span> when someone finishes a
                        tile
                    </div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Select <span
                            class="color-accent">scoring methods</span> and how bingo is
                        finished
                    </div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Option to manage teams
                        or <span class="color-accent">let players create them</span>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block bg-secondary-1 p-2 w-md-50">
                <img src="{% static 'homepage media/Bingo edit board.png' %}" alt="" class="img-fluid">
            </div>
        </div>


        <div class="d-flex flex-column flex-md-row gap-5 mb-5">
            <div id="leaderboard_id"
                 class="flex-fill w-md-50 border border-3 rounded-3 text-center p-3 me-0 me-md-2 mb-md-0">
                <h2 class="fw-bold mb-4">Leaderboard</h2>
                <div class="d-flex flex-column gap-3 justify-content-between">
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>View team rankings <span
                            class="color-accent">(If enabled in bingo)</span></div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>See who has completed which
                        tiles
                    </div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>View submissions of different
                        people
                    </div>
                </div>
            </div>
            <div id="wom_id" class="flex-fill w-md-50 border border-3 rounded-3 text-center p-3 ms-0 ms-md-2">
                <h2 class="fw-bold mb-4">WiseOldMan</h2>
                <div class="d-flex flex-column gap-3 justify-content-between">
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Update on demand</div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Custom tiles that track
                        WiseOldMan progress
                    </div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Track multiple <span
                            class="color-accent">bosses</span> or <span
                            class="color-accent">skills</span> at one time
                    </div>
                </div>
            </div>
        </div>


        <div id="tile_id" class="d-flex flex-column flex-md-row border border-3 rounded-3  mb-5">
            <div class="bg-secondary-1 p-2 w-md-50 d-none d-lg-block">
                <img src="{% static 'homepage media/play tile.png' %}" alt="" class="img-fluid">
            </div>
            <div class="d-flex flex-column flex-fill rounded-3 p-3 ps-5 ms-0 ms-md-3 mt-3 mt-md-0">
                <h2 class="fw-bold mb-3">Tile</h2>
                <div class="d-flex flex-column flex-grow-1 justify-content-between">
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>View tile details</div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Send an image showing your
                        contribution to the tile
                    </div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>Complete a tile as a player or
                        approve it as a mod
                    </div>
                    <div class="mb-2"><i class="fa-solid fa-check color-accent pe-2"></i>View <span
                            class="color-accent">submissions</span> images and descriptions for a
                        tile
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}