{% extends 'layouts/base.html' %}
{#{% load static %}#}
{% load bingo_extras %}

{% block content %}
    <div class="flex-column">
        <div class="mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_board' bingo.pk %}" class="nav-link">Board</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_teams' bingo.pk %}" class="nav-link">Teams</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_players' bingo.pk %}" class="nav-link active">Players</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_moderators' bingo.pk %}" class="nav-link">Moderators</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_setting' bingo.pk %}" class="nav-link">Setting</a>
                </li>
                <li class="nav-item ms-auto">
                    {% if bingo.is_ready %}
                        <a href="" class="nav-link text-success disabled">Status : Bingo is ready</a>
                    {% else %}
                        <a href="" class="nav-link text-danger disabled">Status : Some tiles still have default values</a>
                    {% endif %}
                </li>
            </ul>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Player Name</th>
                <th scope="col">Team</th>
                <th scope="col">Kick</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.user.username }}</td>
                    <td>
                        <form action="{% url 'bingo:change_team_moderator' view.kwargs.pk player.id %}" method="post"
                              class="d-flex" nams="{{ player|get_player_bingo_team:bingo }}">
                            {% csrf_token %}
                            <select name="team_id" id="" class="form-select">
                                {% if player.user|get_user_bingo_team:bingo == -1 %}
                                    <option value="-1" disabled selected>No Team Selected</option>
                                {% endif %}
                                {% for team in teams %}
                                    {% if team.team_name != 'General' %}
                                        <option value="{{ team.id }}" {{ player|is_player_in_team:team }}>{{ team.team_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-primary" value="Change">
                        </form>
                    </td>
                    <td><a href="{% url 'bingo:kick_bingo_player' view.kwargs.pk player.id %}" class="btn btn-danger">Kick
                        player</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'defaults:main' %}");
    </script>
{% endblock %}