{% extends 'layouts/base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="flex-column">
        <div class="mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_board' bingo.pk %}" class="nav-link active">Board</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_teams' bingo.pk %}" class="nav-link">Teams</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_players' bingo.pk %}" class="nav-link">Players</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Moderators</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_setting' bingo.pk %}" class="nav-link">Setting</a>
                </li>
                <li class="nav-item ms-auto">
                    {% if bingo.is_ready %}
                        <a href="" class="nav-link text-success disabled">Status : Bingo is ready</a>
                    {% else %}
                        <a href="" class="nav-link text-danger disabled">Status : Some tiles still have default values</a>
                    {% endif %}
                </li>
            </ul>
        </div>

        {#        <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2 p-0 m-0">#}
        <div class="d-flex flex-column">
            <div class="row p-0 m-0">
                <div class="col"><h5>{{ bingo.name }}</h5></div>
            </div>
            <div class="overflow-auto">
                <div class="row bg-primary h-100 p-0 m-0" style="min-width: {{ bingo.get_div_width }}px;">
                    {% for tile in bingo.get_tiles %}

                        <div class="col tile" style="--width_perc: {{ bingo.get_column_width }}%;">
                            <a class="text-decoration-none" href={% url 'tile:edit_tile' tile.id %}>
                                <div class="card h-100 rounded-0 {{ tile.get_ready_color }}">
                                    <div class="card-body p-1 p-lg-2">
                                        <h5 class="card-title text-center">{{ tile.name }}</h5>
                                        <p class="card-text">{{ tile.description }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {#        </div>#}
    </div>
{% endblock %}


{% block js %}
    <script>
        let team_count = {{ teams.count }} +1;
        {# Add new option for teams #}
        let ss = null

        function add_team() {
            let original = document.querySelector("#div_team_form")
            let clone = original.cloneNode(true)
            clone.id = clone.id + "_" + team_count
            clone.childNodes.item(1).textContent = clone.childNodes.item(1).textContent + team_count
            clone.childNodes.item(3).id = clone.childNodes.item(3).id + "_" + team_count
            clone.childNodes.item(3).defaultValue = clone.childNodes.item(3).defaultValue + team_count
            clone.childNodes.item(3).name = "team_name_new"
            clone.classList.remove("d-none")
            ss = clone
            document.querySelector("#div_teams").append(clone)
            team_count += 1
        }

        {#    Set the back button   #}
        show_back_button("{% url 'defaults:main' %}");
    </script>
{% endblock %}