{% extends 'layouts/base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="flex-column">
        <div class="mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_board' bingo.pk %}" class="nav-link">Board</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_teams' bingo.pk %}" class="nav-link">Teams</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_players' bingo.pk %}" class="nav-link">Players</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Moderators</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bingo:edit_bingo_setting' bingo.pk %}" class="nav-link active">Setting</a>
                </li>
                <li class="nav-item ms-auto">
                    {% if bingo.is_ready %}
                        <a href="" class="nav-link text-success disabled">Status : Bingo is ready</a>
                    {% else %}
                        <a href="" class="nav-link text-danger disabled">Status : Some tiles still have default values</a>
                    {% endif %}
                </li>
            </ul>
        </div>

        <div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    <a href="{% url 'bingo:delete_board' bingo.id %}" class="btn">DELETE BOARD</a>
                    <a href="{% url 'bingo:launch_bingo' bingo.id %}" class="btn">LAUNCH Bingo</a>
                    <input type="text" value="{{ bingo.get_join_link }}" disabled>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'defaults:main' %}");
    </script>
{% endblock %}