{% extends 'layouts/base/base.html' %}
{#{% load static %}#}
{% load bingo_extras %}

{% block content %}
    <div class="flex-column">
        {% include 'pages/bingo/edit/innertemplates/menu.html' %}

        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col" class="rounded-top-3">Moderator Name</th>
                <th scope="col" class="">Kick</th>
            </tr>
            </thead>
            <tbody>
            {% for mod in mods %}
                <tr>
                    <td>{{ mod.player.user.username }}</td>
                    <td><a href="{% url 'bingo:kick_moderator' bingo.pk mod.pk %}" class="btn-default rounded-3">Kick</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <form action="" method="post" class="d-flex bg-primary-2 rounded-3 justify-content-around p-2">
            {% csrf_token %}
            {% for field in form %}
                <div class="d-flex me-3 align-items-center">
                    {% include 'layouts/innertemplates/field.html' %}
                </div>
            {% endfor %}
            <input type="submit" class="btn-default rounded-3" value="Add Moderator">

        </form>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'defaults:main' %}");

        set_edit_bingo_active_tab('moderators_id');
    </script>
{% endblock %}