{% extends 'layouts/base/base.html' %}
{#{% load static %}#}
{% load bingo_extras %}

{% block content %}
    <div class="flex-column">
        {% include 'pages/bingo/edit/innertemplates/menu.html' %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Player Name</th>
                <th scope="col">Team</th>
                <th scope="col">Account names</th>
                <th scope="col">Update</th>
                <th scope="col">Kick</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                {% with player|get_player_bingo_detail:bingo as player_detail %}
                    <tr class="align-middle">
                        <form action="{% url 'bingo:update_player_detail' view.kwargs.pk player.id %}" method="post"
                              class="d-flex" nams="{{ player|get_player_bingo_team:bingo }}" id="player_{{ player.id }}_id">
                            {% csrf_token %}
                            <td>{{ player.user.username }}</td>
                            <td>
                                <select name="team_id" id="" class="form-select" form="player_{{ player.id }}_id">
                                    {% if player.user|get_user_bingo_team:bingo == -1 %}
                                        <option value="-1" disabled selected>No Team Selected</option>
                                    {% endif %}
                                    {% for team in teams %}
                                        {% if team.team_name != 'General' %}
                                            <option value="{{ team.id }}" {{ player|is_player_in_team:team }}>{{ team.team_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" name="account_names" class="form-control" value="{{ player_detail.account_names }}">
                            </td>
                            <td>
                                <input type="submit" class="btn-default rounded-3 ms-3" value="Update">
                            </td>
                            <td>
                                <a href="{% url 'bingo:kick_bingo_player' view.kwargs.pk player.id %}"
                                   class="btn-default rounded-3">Kick player</a>
                            </td>
                        </form>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'common:main' %}");

        set_edit_bingo_active_tab('players_id');
    </script>
{% endblock %}