{% extends 'layouts/base/base.html' %}
{#{% load static %}#}
{% load bingo_extras %}

{% block content %}
    <div class="flex-column">
        {% include 'pages/bingo/edit/innertemplates/menu.html' %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Player Name</th>
                <th scope="col">Team</th>
                <th scope="col">Kick</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr class="align-middle">
                    <td>{{ player.user.username }}</td>
                    <td>
                        <form action="{% url 'bingo:change_team_moderator' view.kwargs.pk player.id %}" method="post"
                              class="d-flex" nams="{{ player|get_player_bingo_team:bingo }}">
                            {% csrf_token %}
                            <select name="team_id" id="" class="form-select">
                                {% if player.user|get_user_bingo_team:bingo == -1 %}
                                    <option value="-1" disabled selected>No Team Selected</option>
                                {% endif %}
                                {% for team in teams %}
                                    {% if team.team_name != 'General' %}
                                        <option value="{{ team.id }}" {{ player|is_player_in_team:team }}>{{ team.team_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn-default rounded-3 ms-3" value="Change">
                        </form>
                    </td>
                    <td><a href="{% url 'bingo:kick_bingo_player' view.kwargs.pk player.id %}" class="btn-default rounded-3">Kick
                        player</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'defaults:main' %}");

        set_edit_bingo_active_tab('players_id');
    </script>
{% endblock %}