{% extends 'layouts/base/base.html' %}
{% block title %}Edit {{ bingo.name }} Teams - Old School Bingo{% endblock %}

{#Prevent page from being indexed#}
{% block head_extras %}
    <meta name="robots" content="noindex">{% endblock %}

{% block content %}
    <div class="flex-column">
        {% include 'pages/bingo/edit/innertemplates/menu.html' %}

        <form action="" method="post" class="bg-primary-2 rounded-3 p-2">
            {% csrf_token %}
            {{ form.management_form }}
            {{ form.non_field_errors }}
            {{ form.non_form_errors }}
            {% for team_form in form %}
                {{ team_form.non_field_errors }}
{#                {{ team_form }}#}
                <div class="d-flex flex-wrap align-items-baseline mb-1 gap-2">
                    {% if team_form.team_name.value != 'General' %}
                        {% for field in team_form %}
                            {% include 'layouts/innertemplates/fieldwithhelphidden.html' %}
                        {% endfor %}
                        {% if team_form.id.value != None%}
                            <input type="button" class="btn-default rounded-3 ms-2 py-1"
                                   onclick="copy_link('https://oldschoolbingo.com{{ bingo.get_join_link }}?team_id={{ team_form.id.value }}')"
                                    value="Copy invite link">
                        {% endif %}
                    {% else %}
                        <div class="" style="display: none">{{ team_form }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" class="btn-default rounded-3 px-3" value="Save">
        </form>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'common:main' %}");

        set_edit_bingo_active_tab('teams_id')
        show_header_name("{{ bingo.name }}")
    </script>
{% endblock %}