{% if not field.is_hidden %}
    <label for="{{ field.id_for_label }}" class="form-label text-nowrap">{{ field.label }}</label>
{% endif %}
{{ field }}

{% if field.help_text %}
            <i class="fa-solid fa-circle-exclamation color-accent align-self-center"
               data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-title="{{ field.help_text }}"></i>
{#    <p class="" style="opacity: 50%">{{ field.help_text }}</p>#}
{% endif %}
<label class="color-accent">{{ field.errors }}</label>