{% extends 'layouts/base/base.html' %}
{#{% load static %}#}
{% load bingo_extras %}
{% block title %}{{ bingo.name }} Homepage - Old School Bingo{% endblock %}

{#Prevent page from being indexed#}
{% block head_extras %}
    <meta name="robots" content="noindex">{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-column flex-md-row mb-3 gap-3">
            <div class="flex-fill bg-primary-2 rounded-3 p-2">
                <h1 class="mb-2 pb-4">{{ bingo.name }}</h1>
                <div class="fs-1 mb-2 text-center" id="time_left"></div>
            </div>
            <div class="d-flex justify-content-center bg-primary-2 rounded-3 p-2">
                <img src="{{ bingo.get_img_url }}" alt="">
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row bg-primary-2 rounded-3 mb-3 p-2">
            {% if bingo.get_is_over %}
                <div class="text-center text-success fs-3 m-auto">Winner
                    is team <b>{{ object.get_winner.team_name }}</b></div>
            {% else %}
                {% if user|get_user_bingo_team:bingo != -1 %}
                    {% with user|get_user_bingo_detail:bingo as player_bingo_detail %}
                        <div class="d-flex flex-column align-self-center text-center w-100">
                            <span>Your details</span>
                            <span>Team : <b>{{ player_bingo_detail.team.team_name }}</b></span>
                            <span>OSRS accounts : <b>{{ player_bingo_detail.account_names }}</b></span>
                        </div>
                        {% if bingo.can_players_create_team and not bingo.get_is_started %}
                            <div class="d-flex flex-column w-100">
                                {% include 'pages/bingo/view/innertemplates/joindiv.html' %}
                            </div>
                        {% endif %}
                    {% endwith %}

                {% else %}
                    {% if user|get_user_bingo_id_team:bingo.id == -1 %}
                        <a href="{% url 'bingo:join_bingo' object.pk %}" class="btn-default rounded-3 mx-auto">Join
                            Bingo</a>
                    {% else %}
                        {% if bingo.get_is_started or not bingo.can_players_create_team %}
                            <p class="text-danger fs-4 mb-3 m-auto">
                                Bingo has started, contact a moderator to join a team
                            </p>
                        {% else %}
                            {% include 'pages/bingo/view/innertemplates/joindiv.html' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

        <div id="bingo_id" class="d-flex flex-wrap border-accent py-5 justify-content-around">
            {% if user|is_moderator:bingo.id %}
                <a href="{% url 'bingo:play_bingo_general' object.pk %}" style="min-width: 175px"
                   class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4 rounded-3">Bingo
                    Summary</a>
                <a href="{% url 'bingo:edit_bingo_board' object.pk %}" style="min-width: 175px"
                   class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4 rounded-3">Edit
                    Bingo
                </a>
            {% else %}
                {% if bingo.get_is_started %}
                    {% if bingo.is_team_public %}
                        <a href="{% url 'bingo:play_bingo_general' object.pk %}" style="min-width: 175px"
                           class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4
                           rounded-3">Bingo Summary</a>
                    {% endif %}

                    {% if user|get_user_bingo_team:bingo != -1 %}
                        <a href="{% url 'bingo:play_bingo' bingo.id user|get_user_bingo_team:bingo %}"
                           style="min-width: 175px"
                           class="btn-default-inverse bg-secondary-1 color-primary-2 border-3 fs-4 py-3 px-4 rounded-3">Play</a>
                    {% elif not bingo.get_is_over %}
                        <div class="text-center text-danger fs-4 mb-3 my-auto">
                            Bingo has started, contact a moderator to join a team
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

        <div class="d-flex flex-column flex-md-row mb-3 gap-3">
            <div class="flex-fill bg-primary-2 rounded-3 p-2">
                <p>{{ bingo.description|linebreaks }}</p>
            </div>
            <div class="d-flex flex-column bg-primary-2 rounded-3 text-center p-2" style="min-width: 200px">
                <span>Start date</span>
                <b name="dates" class="pb-3">{{ bingo.start_date|date:'c' }}</b>
                <span>End date</span>
                <b name="dates" class="pb-3">{{ bingo.end_date|date:'c' }}</b>
                <span>Are teams public</span>
                <b>{{ bingo.is_team_public }}</b>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row gap-3">
            <div class="w-lg-50 flex-fill rounded-3 bg-primary-2 p-2 pb-3 mb-3">
                <h3 class="text-center pb-2 my-3">Players</h3>
                <table class="table text-center mb-0" id="players_table">
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>team</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.user.username }}</td>
                            <td>{{ player|get_player_bingo_team_name:bingo.pk }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="w-lg-50 flex-fill rounded-3 bg-primary-2 p-2 pb-3 mb-3">
                <h3 class="text-center pb-2 my-3">Teams</h3>
                <table class="table text-center mb-0" id="team_table">
                    <thead>
                    <tr>
                        {% if bingo.is_team_public %}
                            <th>Rank</th>
                        {% endif %}
                        <th>Team</th>
                        {% if bingo.is_team_public %}
                            <th>Score</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr>

                            {% if bingo.is_team_public %}
                                <td>{{ team.get_ranking }}</td>
                            {% endif %}

                            <td>{{ team.team_name }}</td>
                            {% if bingo.is_team_public %}
                                <td>{{ team.score }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        {#Localizing times#}
        let achievements = document.querySelectorAll('[name ="dates"]')
        for (let i = 0; i < achievements.length; i++) {
            let start_date = (new Date(achievements[i].innerText))
            achievements[i].innerText = get_formatted_date(start_date).replace('T', ' ')
        }

        {# Making the tables datatables #}
        new DataTable('#players_table', {
            "lengthChange": false
        })
        new DataTable('#team_table', {
            "lengthChange": false
        })


        let start_date = new Date({{ bingo.start_date|date:"U" }} * 1000
        )
        ;
        start_date = (Date.parse(start_date) / 1000)
        let end_date = new Date({{ bingo.end_date|date:"U" }} * 1000
        )
        ;
        end_date = (Date.parse(end_date) / 1000)

        let interval = setInterval(function () {
            countdown()
        }, 1000)
        countdown()

        function countdown() {
            let now = new Date()
            now = (Date.parse(now) / 1000)
            let time_left = start_date - now
            let tag = 'Starting in '

            if (time_left <= 0) {
                time_left = end_date - now
                tag = 'Ending in '
            }
            if ((end_date - now) <= 0 && time_left <= 0) {
                document.getElementById('time_left').innerHTML = 'Bingo has ended'
                return clearInterval(interval)
            }

            let days = Math.floor(time_left / 86400);
            let hours = Math.floor((time_left - (days * 86400)) / 3600);
            let minutes = Math.floor((time_left - (days * 86400) - (hours * 3600)) / 60);
            let seconds = Math.floor((time_left - (days * 86400) - (hours * 3600) - (minutes * 60)));

            if (days < "10") {
                days = "0" + days;
            }
            if (hours < "10") {
                hours = "0" + hours;
            }
            if (minutes < "10") {
                minutes = "0" + minutes;
            }
            if (seconds < "10") {
                seconds = "0" + seconds;
            }

            document.getElementById('time_left').innerHTML = tag + " " + days + "D : " + hours + "H : " + minutes + "M : " + seconds + "S";

        }

        {#Set Details on header#}
        show_back_button("{% url 'common:main' %}");

    </script>
{% endblock %}