{% extends 'layouts/base/base.html' %}
{% load bingo_extras %}
{% block title %}{{ bingo.name }} - Old School Bingo{% endblock %}

{#Prevent page from being indexed#}
{% block head_extras %}
    <meta name="robots" content="noindex">{% endblock %}

{% block content %}
    {% include 'layouts/innertemplates/winner.html' %}

    <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2 p-0 m-0">
        <div id="canvas_id" class="d-flex flex-column col col-lg-8 p-0 pe-lg-3 mb-3 mb-lg-0">
            <div id="canvas_board_id" class="overflow-x-auto overflow-y-hidden">
                <div class="row h-100 p-0 m-0" style="min-width: {{ bingo.get_div_width }}px">
                    {% for team_tile in team_tiles %}
                        {% include 'layouts/innertemplates/teamtile.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border-0 col col-lg-4 ">
            <div id="info_id" class="rounded-3 bg-primary-2 mb-2">
                <div class="dropdown mb-2">
                    <button class="btn-default fs-3 w-100 border-0 rounded-3 rounded-bottom-0 dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown">
                        {{ current_team.team_name }}
                    </button>
                    <ul class="dropdown-menu bg-primary-2 w-100">
                        {% for team in teams %}
                            {% if team.team_name == 'General' %}
                                <li><a href="{% url 'bingo:play_bingo_general' bingo.id %}"
                                       class="dropdown-item {% if current_team == team %}active-switch{% endif %}{{ user|user_access_check:team.pk }}">
                                    Summary</a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'bingo:play_bingo' bingo.id team.id %}"
                                       class="dropdown-item {% if current_team == team %}active-switch{% endif %}{{ user|user_access_check:team.pk }}">
                                    {{ team.team_name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="p-2 text-center">
                    {% if bingo.is_team_public %}
                        <div class="fs-4 pb-2">Rank : <b>{{ current_team.get_ranking }}</b></div>
                    {% endif %}
                    <div class="fs-4">Score : <b>{{ current_team.score }}</b> points</div>
                </div>
            </div>

            <div id="board_id" class="d-flex flex-column rounded-3 bg-primary-2 ">
                <div class="d-flex text-center mb-3">
                    <button id="achievement_btn_id" style="border-bottom-left-radius: 0!important;"
                            class="btn-default rounded-3 p-2 border border-top-0 border-start-0 rounded-top-0 rounded-start-3 w-100 active-switch">
                        Completions
                    </button>
                    <button id="submission_btn_id" style="border-bottom-right-radius: 0!important;"
                            class="btn-default rounded-3 p-2 border border-top-0 border-end-0 rounded-top-0 rounded-end-3 w-100">
                        Submissions
                    </button>
                </div>

                <div id="achievement_div_id" class="h-100 overflow-y-auto px-3">
                    {% for achievement in achievements %}
                        {% include 'layouts/innertemplates/achievement.html' %}
                    {% endfor %}
                </div>
                <div id="submission_div_id" class="h-100 overflow-y-auto px-3 d-none">
                    {% for submission in submissions %}
                        {% include 'layouts/innertemplates/submission.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#Make sure size in the same on both divs#}
        let board = document.getElementById('board_id');
        let canvas_board = document.getElementById('canvas_board_id');
        let info = document.getElementById('info_id')
        board.style.height = `${canvas_board.offsetHeight - info.offsetHeight}px`

        {#Switch between achievements and submissions tabs#}
        document.getElementById('submission_btn_id').addEventListener('click', function () {
            document.getElementById('submission_btn_id').classList.add('active-switch')
            document.getElementById('achievement_btn_id').classList.remove('active-switch')

            document.getElementById('submission_div_id').classList.remove('d-none')
            document.getElementById('achievement_div_id').classList.add('d-none')
        })
        document.getElementById('achievement_btn_id').addEventListener('click', function () {
            document.getElementById('submission_btn_id').classList.remove('active-switch')
            document.getElementById('achievement_btn_id').classList.add('active-switch')

            document.getElementById('submission_div_id').classList.add('d-none')
            document.getElementById('achievement_div_id').classList.remove('d-none')
        })

        {#Set Details on header#}
        show_back_button("{% url 'bingo:bingo_home_page' bingo.pk %}");
        show_header_name("{{ bingo.name }}")
    </script>
{% endblock %}
