{% extends 'layouts/base/base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="bg-alabaster rounded-3 p-2">

        <div class="h1">Edit Tile </div>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="d-flex pb-2">
                    {% include 'layouts/innertemplates/field.html' %}
                </div>
            {% endfor %}

            <input type="submit" class="btn border-green4" value="Update">
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'bingo:edit_bingo_board' object.bingo.id %}");
    </script>
{% endblock %}