{% extends 'layouts/base/base.html' %}
{% block title %}Edit {{ tile.name }} in {{ tile.bingo.name }} - Old School Bingo{% endblock %}

{#Prevent page from being indexed#}
{% block head_extras %}
    <meta name="robots" content="noindex">{% endblock %}

{% block content %}
    <div class="flex-column">
        {% include 'pages/tile/edit/innertemplates/menu.html' %}
        <div class="d-flex flex-column flex-lg-row gap-3">
            <div class="flex-fill bg-primary-2 rounded-3 mb-3 p-2">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="d-flex flex-column pb-2">
                            {% include 'layouts/innertemplates/field.html' %}
                        </div>
                    {% endfor %}

                    <input type="submit" class="btn-default rounded-3" value="Update">
                </form>
            </div>
            <div class="align-self-baseline bg-primary-2 rounded-3 mb-3 p-2">
                <img src="{{ tile.get_url }}" alt="">
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        {#    Set the back button   #}
        show_back_button("{% url 'bingo:edit_bingo_board' object.bingo.id %}");
        show_header_name("{{ tile.name }}")

        set_edit_bingo_active_tab('detail_id')
    </script>
{% endblock %}