{% extends 'layouts/base.html' %}
{% load bingo_extras %}

{% block content %}
    {#    <div class="flex-column">#}
    <div class="d-flex flex-wrap row-cols-1 row-cols-lg-2 p-0 m-0">

        {#        <div class="row row-cols-1 row-cols-lg-2 p-0 m-0">#}
        <div id="canvas_id" class="d-flex flex-column col col-lg-8 p-0 pe-lg-3">
            <div id="canvas_header_id" class="d-flex justify-content-between mb-2">
                <div class=""><h5>{{ bingo.name }}</h5></div>

                {% if bingo.is_over %}
                    <div class="">Winner(disable and show when it's done)</div>
                {% endif %}

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {{ current_team.team_name }}
                    </button>
                    <ul class="dropdown-menu">
                        {% for team in teams %}
                            {% if team.team_name == 'General' %}
                                <li><a href="{% url 'bingo:play_bingo_general' bingo.id %}"
                                       class="dropdown-item {% if current_team == team %}active{% endif %} {{ user|user_access_check:team.pk }}">
                                    {{ team.team_name }}</a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'bingo:play_bingo' bingo.id team.id %}"
                                       class="dropdown-item {% if current_team == team %}active{% endif %} {{ user|user_access_check:team.pk }}">
                                    {{ team.team_name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="canvas_board_id" class="overflow-x-auto">
                <div class="row bg-primary h-100 p-0 m-0" style="min-width: {{ bingo.get_div_width }}px">
                    {% for team_tile in team_tiles %}
                        <div class="col tile"
                             style="--width_perc: {{ bingo.get_column_width }}%;">
{#                            <a class="text-decoration-none" href={% url 'tile:play_tile' team_tile.id %}>#}
                                <div class="card h-100 rounded-0 {{ team_tile.tile.get_tile_general_color }}">
                                    <div class="card-body p-1 p-lg-2">
                                        <h5 class="card-title text-center">{{ team_tile.tile.name }}</h5>
                                        <p>{{ team_tile.tile.get_completed_count }} | {{ team_tile.tile.get_approved_count }}</p>
                                        <p class="card-text">{{ team_tile.tile.description }}</p>

                                    </div>
                                </div>
{#                            </a>#}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div id="board_id" class="d-flex flex-column bg-secondary col col-lg-4">
            <h5>Achievement board</h5>

            <div class=" h-100 overflow-y-auto">
                {% for achievement in achievements %}
                    <p class="">{{ achievement.team_tile.team.team_name }}
                        finished {{ achievement.team_tile.tile.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        let board = document.getElementById('board_id');
        let canvas_header = document.getElementById('canvas_header_id');
        let canvas_board = document.getElementById('canvas_board_id');
        board.style.height = `${canvas_header.offsetHeight + canvas_board.offsetHeight}px`

        {#Set back button to main#}
        show_back_button("{% url 'defaults:main' %}");
        show_header_name("{{ bingo.name }}")
    </script>
{% endblock %}
