<!DOCTYPE html>
{% load static %}
{#<html lang="en" class="h-100 html-body">#}
<html lang="en" class="">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LQ9MMSRC7N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-LQ9MMSRC7N');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
{#          content="Host your bingo without the hassle of managing multiple discords or excel sheets. OldSchool Bingo takes care of the tedious for you so you can enjoy playing as much as possible.">#}
          content="Run a bingo not a discord brothel with Old School Bingo. Make an engaging bingo with very little effort because we're here.">
    <link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png' %}" type="image/x-icon">

    <title>Old School Bingo</title>

    {% include 'layouts/includes/css.html' %}
    {% block head_extras %} {% endblock %}
</head>

<body class="d-flex flex-column" style="background-image: url('{% static 'background.png' %}')">
{% include 'layouts/base/header.html' %}

<div id="content" class="container p-0">
    {% block content %}{% endblock %}
</div>

{#        {% include 'layouts/footer.html' %}#}

{% include 'layouts/includes/js.html' %}

{% block js %}
{% endblock %}
</body>
</html>