{#{% load i18n %}#}
{#{% load tag_extras %}#}
{% load static %}
<header class="">
    <nav class="navbar navbar-expand-md mb-5 border border-1 rounded-5 rounded-top-0">
        <div class="container-fluid justify-content-start">

            <a href="{% url 'common:homepage' %}" class="navbar-brand custom-logo">
                <img src="{% static 'logo.png' %}" alt="" style="">
            </a>

            <button class="navbar-toggler ms-auto btn-default" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-accent"></span>
            </button>

            <div class="container collapse navbar-collapse p-0" id="navbarNavDropdown">
                <a href="" class="d-none" id="back_button"><i class="fas fa-arrow-left color-secondary-1"></i></a>
                <span class="d-none fs-4 rounded-5 my-auto me-3 ps-2" id="header_name_p"></span>

                <span class="d-flex my-auto" id="header_details_div"></span>

                <div class=" ms-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if request.user.is_anonymous %}
                            <li class="nav-item dropdown">
                                <a class="btn-default rounded-3 nav-link dropdown-toggle color-secondary-1" href="#"
                                   id="navbarDropdown"
                                   role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Login/Register
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="nav-link dropdown-item hover-switch"
                                           href="{% url 'player:login' %}">Login</a>
                                    </li>
                                    <li>
                                        <a class="nav-link dropdown-item hover-switch"
                                           href="{% url 'player:register' %}">Register</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="btn-default rounded-3 nav-link dropdown-toggle color-secondary-1" href="#"
                                   id="navbarDropdown"
                                   role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ request.user }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="nav-link dropdown-item hover-switch"
                                           href="{% url 'player:account' %}">My
                                            Account</a>
                                    </li>
                                    <li>
                                        <a class="nav-link dropdown-item hover-switch" href="{% url 'player:logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>