{% autoescape off %}
Hi {{ user.username }},

We have received a request to reset your password for your account at Old School Bingo. To ensure the security of your account, please follow the steps below to reset your password:

You can click on the following link to set a new password for your account.

http://{{ domain }}{% url 'player:reset_password' uidb64=uid token=token %}

If you did not request a password reset, please contact me immediately in Discord:

https://discord.gg/fpKeEWMHjE

Thank you for choosing Old School Bingo. We are committed to keeping your account safe and secure.

May the bingo be with you,
Old School Bingo creator
{% endautoescape %}