<ul class="nav nav-tabs border-0 bg-primary-2 rounded-top-3 mb-3">
    <li class="nav-item">
        <a href="{% url 'bingo:edit_bingo_board' bingo.pk %}" id="board_id"
           class="nav-link btn-default rounded-0 rounded-top-3 rounded-end-0 px-3">Board</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'bingo:edit_bingo_teams' bingo.pk %}" id="teams_id"
           class="nav-link btn-default rounded-0 px-3">Teams</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'bingo:edit_bingo_players' bingo.pk %}" id="players_id"
           class="nav-link btn-default rounded-0 px-3">Players</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'bingo:edit_bingo_moderators' bingo.pk %}" id="moderators_id"
           class="nav-link btn-default rounded-0 px-3">Moderators</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'bingo:edit_bingo_setting' bingo.pk %}" id="settings_id"
           class="nav-link btn-default rounded-0 px-3">Setting</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'bingo:edit_bingo_discord' bingo.pk %}" id="discord_id"
           class="nav-link btn-default rounded-0 px-3">Discord Notification</a>
    </li>
    <li class="nav-item ms-auto">
        {% if bingo.is_ready %}
            <div class="nav-link text-success disabled">Status : Bingo is ready</div>
        {% else %}
            <div class="nav-link text-danger disabled">Status : Some tiles still have default values</div>
        {% endif %}
    </li>
    <li class="nav-item">
        <input type="button" class="nav-link bg-accent color-secondary-1 text-center rounded-start-0"
               onclick="copy_link('https://oldschoolbingo.com{{ bingo.get_join_link }}')" value="Copy join link">
    </li>
</ul>